@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de palavra-passe esquecida";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique o seu email para redefinir a sua palavra-passe.
</p>