@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de palavra-passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    A sua palavra-passe foi redefinida. Por favor <a asp-page="./Login">clique aqui para fazer login</a>.
</p>